<div class="d-flex justify-content-center">
  {{ productForm.valid | json }}
  <form
    [formGroup]="productForm"
    (ngSubmit)="onSubmitFormGroupe()"
    *ngIf="productForm"
  >
    <div class="form-group">
      <label for="nomProduit">Nom de Produit</label>
      <input
        type="text"
        [ngClass]="{
          'is-valid': validForm && !productForm.controls.nomProduit.errors,
          'is-invalid': validForm && productForm.controls.nomProduit.errors
        }"
        class="form-control"
        id="nomProduit"
        formControlName="nomProduit"
        placeholder="nomProduit"
        name="nomProduit"
        ngModel
      />
      <div class="invalid-feedback">nom de produit obligatoire !</div>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input
        type="text"
        class="form-control"
        id="description"
        formControlName="description"
        [ngClass]="{
          'is-valid': validForm && !productForm.controls.description.errors,
          'is-invalid': validForm && productForm.controls.description.errors
        }"
        placeHolder="description"
        name="description"
        ngModel
      />
      <div class="invalid-feedback">Desription de produit obligatoire !</div>
    </div>
    <div class="form-group">
      <label for="quantite">Quantite</label>
      <input
        type="number"
        class="form-control"
        id="quantite"
        formControlName="quantite"
        [ngClass]="{
          'is-valid': validForm && !productForm.controls.quantite.errors,
          'is-invalid': validForm && productForm.controls.quantite.errors
        }"
        placeHolder="Quantite"
        name="quantite"
        ngModel
      />
      <div *ngIf="validForm && productForm.controls.quantite.hasError('required')" class="invalid-feedback">Quantité de produit obligatoire !</div>
      <div *ngIf="validForm && productForm.controls.quantite.hasError('min')" class="invalid-feedback">
        Quantité de produit doit etre plus de 0 !
      </div>
      <div *ngIf="validForm && productForm.controls.quantite.hasError('max')" class="invalid-feedback">
        Quantité de produit doit etre moins de 100
      </div>
    </div>

    <div class="form-group">
      <label for="prix">Prix</label>
      <input
        type="number"
        class="form-control"
        id="prix"
        formControlName="prix"
        [ngClass]="{
          'is-valid': validForm && !productForm.controls.prix.errors,
          'is-invalid': validForm && productForm.controls.prix.errors
        }"
        placeHolder="Prix"
        name="prix"
        ngModel
      />
      <div class="invalid-feedback">Prix de produit obligatoire !</div>
      <div class="invalid-feedback">
        Prix de produit doit etre plus de 0 dinars !
      </div>
      <div class="invalid-feedback">
        Prix de produit doit etre moins de 1000 dinars !
      </div>
    </div>

    <div class="d-flex justify-content-between">
      <button type="submit" class="btn btn-primary">Ajouter</button>
      <button class="btn btn-primary" type="submit" routerLink="">
        Liste de produits
      </button>
    </div>
  </form>
</div>
